body {
  font-family: sans-serif;
  margin: auto;
  max-width: 1280px;
}

a {
  color: #555;
  text-decoration: underline;
}

a:hover {
  color: #333;
  text-decoration: none;
}

.post-list {
  list-style: none;
}

.post-list > li {
  margin-bottom: 1em;
}

.post-thumbnail {
  display: inline;
}

.post-thumbnail > a {
  text-decoration: none;
}

.post-link {
  font-size: 1.5em;
}

.post-meta {
  vertical-align: top;
  display: inline-block;
}
